<div class="post">

<!-- TITLE -->
{{- if .Title -}}
	<h3 class="title sticky-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
{{- end -}}

<!-- CONTENT -->
<blockquote class="lyrics">
{{- .Content -}}
</blockquote>

<!-- EXTRA -->
{{ if .Params.extra }}
	{{- .Params.extra | markdownify | safeHTML -}}
{{ end }}

{{ if not (.Scratch.Get "kScopeList")  }}
	<!-- COLLECTION -->
	{{- range (.GetTerms "collection") -}}
		<p><small>Part of <a href="{{ .Permalink }}">{{ .Title }}</a>.</small></p>
	{{- end -}}

	<!-- TOPIC -->
	{{- with .GetTerms "topic" -}}
	<small>Topics: {{ range $index, $element := . -}}
		{{- if $index }}, {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>
	{{- end -}}.
	</small>
	{{ end }}
{{ end }}

</div>
