<div class="post">

<!-- TITLE -->
{{- if .Title -}}
	<h3 class="title sticky-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
{{- end -}}

<!-- CONTENT -->
<blockquote class="lyrics">
{{- .Content -}}
</blockquote>

<!-- EXTRA -->
{{ if .Params.extra }}
	{{- .Params.extra | markdownify | safeHTML -}}
{{ end }}

<!-- VIBRATIONS -->
{{ with where ((.Site.GetPage "section" "vibrations").Pages) "Params.lyrics" "like" .Slug }}
	<div class="video-list">
		{{ range . }}
			{{ partial "video-preview" . }}
		{{ end }}	
	</div>
{{ end }}

{{ if not (.Scratch.Get "kScopeList")  }}

	<!-- COLLECTION -->
	{{- range (.GetTerms "collection") -}}
		<p><small>Part of <a href="{{ .Permalink }}">{{ .Title }}</a>.</small></p>
	{{- end -}}

	<!-- TOPIC -->
	{{- with .GetTerms "lyrics_topic" -}}
	<small>Topics: {{ range $index, $element := . -}}
		{{- if $index }}, {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>
	{{- end -}}.
	</small>
	{{ end }}

	<hr>

	<small class="metadata">
		{{ if .Site.Params.sourcePrefix }}
			<span>
				<a href="{{ .Site.Params.sourcePrefix }}{{ print "/lyrics/" .Params.filename }}">Source</a>
			</span>
		{{ end }}

		<span>
			{{ range $i, $v := slice
				(dict
					"title" "Search YouTube"
					"prefix" "https://www.youtube.com/results?search_query="
					"data" .Title
				)
				(dict
					"title" "Translate via DeepL"
					"prefix" "https://www.deepl.com/en/translator#en/en-us/"
					"data" (replaceRE `\<\/?.+\>` "" .Content)
				) }}
				<a href="{{ index . "prefix" }}{{ index . "data" }}">{{ index . "title" }}</a>{{ if not $i }}, {{ end }}
			{{ end }}
		</span>
	</small>
{{ end }}

</div>
