<!-- RECORDED -->
{{- if .Params.recorded -}}<p><small>Recorded {{ (time.AsTime .Params.recorded).Format "Jan 2006" }}.</small></p>{{- end -}}

<!-- SERIES -->
{{- range (.GetTerms "series") -}}<small>Part of <a href="{{ .RelPermalink }}">{{ .Title }}</a>.</small>{{- end -}}

<!-- TAGS -->
{{- with .GetTerms "tags" -}}
<p>
	<small>Tagged: {{ range $index, $element := . -}}
		{{- if $index }}, {{ end }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{- end }}.
	</small>
</p>
{{- end }}

{{ if .Date }}{{ partial "shared-meta-date.html" . }}{{ end }}
