<div class="post">

{{ $isRSS := eq (.Scratch.Get "kScopeRSS") "true" }}
{{ $isList := eq (.Scratch.Get "kScopeList") "true" }}

{{ $dataLink := "" }}
{{ if .Params.link }}{{ $dataLink = .Params.link }}{{ end }}
{{ if .Params.youtube_id }}{{ $dataLink = print "https://youtu.be/" .Params.youtube_id }}{{ end }}

{{ if not $isRSS -}}
	{{ with $dataLink }}
	<div class="embed" data-link="{{ . }}"></div>
	{{ end }}
{{- end }}

<!-- TITLE -->
{{- if .Title -}}
	<h3 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
{{- end -}}

<!-- NUGGET -->
{{- if .Params.Summary -}}
	<div class="nugget">{{ .Summary | markdownify | safeHTML }}</div>
{{- end -}}

<!-- CONTENT -->
{{ if $isList -}}<div>{{- else -}}<article>{{- end }}
{{ .Content }}
{{ if $isList -}}</div>{{- else -}}</article>{{- end }}

<!-- LYRICS -->
{{ if not $isList }}
	{{ if .Params.lyrics }}
		{{ with .Site.GetPage .Params.lyrics }}
			<h4>lyrics</h4>
		  <blockquote class="lyrics">
		  {{- .Content -}}
		  </blockquote>
		{{ end }}
	{{ end }}
{{ end }}

<!-- RECORDED -->
{{- if .Params.recorded -}}<p><small>Recorded {{ (time.AsTime .Params.recorded).Format "Jan 2006" }}.</small></p>{{- end -}}

<!-- SERIES -->
{{- range (.GetTerms "series") -}}<small>Part of <a href="{{ .Permalink }}">{{ .Title }}</a>.</small>{{- end -}}

<!-- TAGS -->
{{- with .GetTerms "tags" -}}
<small>Tagged: {{ range $index, $element := . -}}
	{{- if $index }}, {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>
{{- end -}}.
</small>
{{ end }}

<span class="metadata">
	{{ $departure := index (last 1 (where (.Site.Store.Get "kDepartures") "time" "le" .Date)) 0 }}

	<small>
		<!-- TIMESTAMP -->
		{{ $t := .Date | time.In $departure.timezone }}
		{{ $hideTime := eq (substr ((.Date | time.In "UTC").Format "2006-01-02T15:04:05.000Z") -13) "12:00:00.000Z" }}
		<a aria-label="Permalink for {{ cond $hideTime "" (print ($t | time.Format ":time_short") ", ") }}{{ $t | time.Format ":date_long" }}" href="{{ .Permalink }}"><time datetime="{{ $t.Format "2006-01-02T15:04:05Z07:00" }}">{{ if $isList -}}
			{{- $t.Format "15h04" -}}
		{{- else -}}
			{{- $t.Format (print "Jan 02 2006" (cond $hideTime "" ", 15h04")) -}}
		{{- end }}</time></a>

		<!-- PLACE -->
		{{ range .Site.Taxonomies.place }}
			{{ if eq .Page.LinkTitle $departure.place }}
				<span>from <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> / </span>
			{{ end }}
		{{ end}}

		<!-- COUNTRY -->
		{{ range .Site.Taxonomies.country }}
			{{ if eq .Page.LinkTitle $departure.country }}
				<span><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></span>
			{{- end -}}
		{{- end -}}

		<!-- VIA -->
		{{- with .Param "via" -}}
		<span>, via: </span> 
		<span>{{- if strings.Contains . "http" }}<a href="{{ . }}">{{ replace (urls.Parse .).Hostname "www." "" }}</a>{{ else }}{{ . }}{{ end }}</span>
		{{ end }}

		<!-- TYPES -->
		{{ if $isRSS }}
			{{ with .GetTerms "categories" }}
				<span>, type: {{- range . -}}<a href="{{ .Permalink }}">{{ .Title }}</a> {{ end -}}</span>
			{{ end }}
		{{ end }}
	</small>

<!-- TYPES -->
{{ with .GetTerms "categories" }}
	<span class="types">
		{{- range . -}}<a href="{{ .Permalink }}">{{ .Title }}</a> {{ end -}}
	</span>
{{ end }}
</span>

{{ if (and .Params.around (not $isList)) }}
	{{ $around := time .Params.around }}
	{{ $departure := index (last 1 (where (.Site.Store.Get "kDepartures") "time" "le" $around)) 0 }}
	<small>
		Recorded 

		<!-- PLACE -->
		{{ range .Site.Taxonomies.place }}
			{{ if eq .Page.LinkTitle $departure.place }}
				<span>in <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> / </span>
			{{ end }}
		{{ end}}

		<!-- COUNTRY -->
		{{ range .Site.Taxonomies.country }}
			{{ if eq .Page.LinkTitle $departure.country }}
				<span><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></span>
			{{- end -}}
		{{- end -}}

		<!-- TIMESTAMP -->
		{{ $t := $around | time.In $departure.timezone }}
		around <time datetime="{{ $t.Format "2006-01-02T15:04:05Z07:00" }}">{{- $t.Format "Jan 2006" -}}</time></a>.
	</small>
{{ end }}

<!-- SOURCE -->
{{ if (and (not $isList) (not $isRSS)) -}}
<hr>

<small class="metadata">
	<span>
		<a href="{{ .Site.Params.sourcePrefix }}{{ replace (print "/content/" .Page.File.Path) "/content/timeline/_content.gotmpl" (print (replace .Path "/timeline" "/journal") ".md") }}">Source</a>
	</span>
	{{ $syndications := slice
		(dict
			"key" "youtube_id"
			"title" "YouTube"
			"prefix" "https://youtu.be/")
		(dict
			"key" "mastodon_id"
			"title" "Mastodon"
			"prefix" "https://mastodon.online/@rosano/")
		(dict
			"key" "bluesky_id"
			"title" "Bluesky"
			"prefix" "https://bsky.app/profile/rosano.ca/post/")
		(dict
			"key" "twitter_id"
			"title" "Twitter"
			"prefix" "https://twitter.com/rosano/status/")
		(dict
			"key" "facebook_id"
			"title" "Facebook"
			"prefix" "https://facebook.com/")
		(dict
			"key" "nostr_id"
			"title" "Nostr"
			"prefix" "https://njump.me/")
		(dict
			"key" "threads_id"
			"title" "Threads"
			"prefix" "https://www.threads.net/@rosano/post/")
	}}

	{{ $params := .Params }}
	{{ $existing := slice }}

	{{ range $syndications }}
		{{ if index $params (index . "key") }}
			{{ $existing = $existing | append . }}
		{{ end }}
	{{ end }}

	{{ if len $existing }}
		<span>
			Also on 
			{{ range $existing }}
				<a href="{{ index . "prefix" }}{{ index $params (index . "key") }}">{{ index . "title" }}</a>				
			{{ end }}
		</span>
	{{ end }}
</small>
{{- end }}

</div>
