{{ $isDay := (and (eq .Kind "term") (eq .Data.Singular "timeline_day")) }}

<div>
{{ range .Paginator.Pages.GroupByParam "timeline_day" "desc" }}
	{{ $browseDay := .Key }}

	{{ if not $isDay }}
		{{ with (index ((index .Pages 0).GetTerms "timeline_day") 0) }}
		  <h3 class="sticky"><a href="{{ .Page.Permalink }}">{{ time.Format "Monday, January 2, 2006" (time.AsTime (replace $browseDay "/" "-")) }}</a></h3>
		{{ end }}
	{{ end }}

	<article>
		{{ range .Pages.ByDate.Reverse }}
			{{ .Scratch.Set "kScopeList" "true" }}
			{{ if .Params.isContent }}
				{{ partial "shared-single-notification.html" . }}
			{{ else }}
				{{ partial "shared-single.html" . }}
			{{ end }}
			{{ .Scratch.Delete "kScopeList" }}
		{{ end }}
	</article>
{{ end }}
</div>
