<div class="post notification">

{{ $slug := .Params.slug -}}
{{- $page := "" -}}
{{- with .Site.GetPage "section" .Params.originalSection -}}
	{{- range where .Pages "Params.slug" $slug -}}
		{{- $page = . -}}
	{{- end -}}
{{- end -}}

<small>
	{{- $hideTime := eq (substr ((.Date | time.In "UTC").Format "2006-01-02T15:04:05.000Z") -13) "12:00:00.000Z" -}}

	{{- if not $hideTime }}
		<a aria-label="Permalink for {{ .Date | time.Format ":time_short" }}, {{ .Date | time.Format ":date_long" }}" href="{{ $page.Permalink }}"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "15h04" }}</time></a>
	{{ end }}
	<span>{{ .Params.action }}</span>
	{{ with .Site.GetPage "section" .Params.originalSection -}}
		<a href="{{ .Permalink }}">{{ .Name }}</a>
	{{- end }}
</small>

<br>

<p><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></p>

<!-- NUGGET -->
{{ if $page.Params.Summary -}}
	<blockquote>{{ $page.Summary | markdownify | safeHTML }}</blockquote>
{{- end }}

</div>
