<div class="timeline-footer">
	
{{- $isTimeline := eq (.Scratch.Get "kSemanticSection") "timeline" -}}

<!-- PAGINATION -->
{{- if (and .Page.IsNode .Paginator (ne .Paginator.TotalPages 0)) }}
<div class="paginator">
	<span>
		{{- if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}">older</a> · 
			<small><a href="{{ .Paginator.Last.URL }}">start</a></small>
		{{ end -}}
	</span>
	<span>
		{{- if .Paginator.HasPrev }}
			<small><a href="{{ .Paginator.First.URL }}">end</a></small> · 
			<a href="{{ .Paginator.Prev.URL }}">newer</a>
		{{ end -}}
	</span>
</div>
{{ end -}}

<!-- TYPES -->
{{- if and site.Params._showTypes $isTimeline -}}
	<small class="types">
		{{- range site.Sections -}}
			{{- if eq .Page.Title "Journal" -}}
				<a href="{{ .Page.RelPermalink }}">all</a>
			{{- end -}}
		{{- end }}
		
		<span>·</span>
		
		{{ range site.Taxonomies.categories.ByCount -}}
			{{- if ne .Page.Title "move" }}
				<a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
			{{- end -}}
		{{- end -}}
	</small>
{{- end -}}

<!-- TIME -->
<small class="time">
{{- if $isTimeline -}}
	
{{- range site.Sections }}
	{{ if eq .Page.Title "Journal" -}}
		<a href="{{ .Page.RelPermalink }}">recent</a>
	{{- end -}}
{{- end }}

	<span>·</span>

{{- end }}

<!-- CONTEXT -->
{{- $timeContext := "" -}}
{{- $currentYear := "" -}}
{{- $currentMonth := "" -}}
{{- $currentDay := "" -}}

{{- if (and (eq .Kind "term") (eq .Data.Singular "timeline_day")) -}}
	{{- $timeContext = time.AsTime (replace .Data.Term "/" "-") -}}
{{- else if (and (eq .Kind "term") (eq .Data.Singular "timeline_month")) -}}
	{{- $timeContext = time.AsTime (delimit (slice (replace .Data.Term "/" "-") "01") "-") -}}
{{- else if (and (eq .Kind "term") (eq .Data.Singular "timeline_year")) -}}
	{{- $timeContext = time.AsTime (delimit (slice .Data.Term "01-01") "-") -}}
{{- else if .IsPage -}}
	{{- $timeContext = .Date -}}
{{- end -}}

{{- if $timeContext -}}
	{{- $currentYear = time.Format "2006" $timeContext -}}
	{{- $currentMonth = time.Format "01" $timeContext -}}
	{{- $currentDay = time.Format "02" $timeContext -}}
{{- end -}}

{{ if not $timeContext -}}
	<!-- ALL YEARS -->
	{{ range site.Taxonomies.timeline_year }}
		<a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
	{{- end }}
{{- else }}
	<!-- CURRENT YEAR -->
	{{ if eq .Section "timeline_year" }}
		<span>{{ $currentYear }}</span>
	{{- else }}
		{{ range site.Taxonomies.timeline_year -}}
			{{- if strings.Contains .Page.Title $currentYear -}}
				<a href="{{ .Page.RelPermalink }}">{{ $currentYear }}</a>
			{{- end -}}
		{{- end -}}
	{{- end }}
	
	<span>·</span>

	{{ if eq .Section "timeline_year" -}}
		<!-- ALL MONTHS -->
		{{ range site.Taxonomies.timeline_month -}}
			{{- if strings.Contains .Page.Title $currentYear -}}
				{{- $t := time.AsTime (delimit (slice (replace .Page.Title "/" "-") "01") "-") -}}
				<a href="{{ .Page.RelPermalink }}">{{ time.Format "Jan" $t }}</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

{{ if (or (in (slice "timeline_month" "timeline_day") .Section) .IsPage) -}}
	{{- $format := time.Format "January" $timeContext -}}

	<!-- CURRENT MONTH -->
	{{- if eq .Section "timeline_month" }}
		<span>{{ $format }}</span>
	{{- else }}
		{{ range site.Taxonomies.timeline_month }}
			{{- if strings.Contains .Page.Title (delimit (slice $currentYear $currentMonth) "/") }}
				<a href="{{ .Page.RelPermalink }}">{{ $format }}</a>
			{{- end -}}
		{{- end -}}
	{{- end }}
	
	<span>·</span>

	{{- if eq .Section "timeline_month" -}}
		<!-- ALL DAYS -->
		{{ range site.Taxonomies.timeline_day -}}
			{{- if strings.Contains .Page.Title (delimit (slice $currentYear $currentMonth) "/") }}
				<a href="{{ .Page.RelPermalink }}">{{ humanize (time.Format "2" (time.AsTime (replace .Page.Title "/" "-")))  }}</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

{{ if (or (in (slice "timeline_day") .Section) .IsPage) -}}
	{{- $format := humanize (time.Format "2" $timeContext)  -}}

	<!-- CURRENT DAY -->
	{{- if eq .Section "timeline_day" }}
		<span>{{ $format }}</span>
	{{- else }}
		{{ range site.Taxonomies.timeline_day -}}
			{{- if strings.Contains .Page.Title (delimit (slice $currentYear $currentMonth $currentDay) "/") -}}
				<a href="{{ .Page.RelPermalink }}">{{ $format }}</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
	
{{- end }}

</small>

</div>
