{{ define "main" }}

{{ .Content }}

{{ if .Sections }}
	<h3 class="sticky">Sections</h3>
	<ul>
	{{ range .Sections }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
	</ul>
{{ end }}

<blog-list>
{{ range .Pages.ByDate.Reverse.GroupByDate "2006" "desc" }}
	<h3 class="sticky">{{ .Key }}</h3>

	{{ range .Pages }}
	<card>
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{- .Date.Format "Jan 02" -}}</time>
		<article>
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ if .Params.Summary }}
				<p>{{ .Summary }}</p>
			{{ end }}
		</article>
	</card>
	{{ end }}
{{ end }}
</blog-list>

{{ end }}
