:root {
	--rh-c-bg: #eee;
	--rh-c-bg-alt: #e9e9e9;
	--rh-c-bg-shadow: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--rh-c-bg) 10%);
	--rh-c-text-1: #333;
	--rh-c-brand-1: #237fa1;
	--rh-c-brand-hover-1: #c00;
	--rh-c-bg-focus: #f9f9f9;

	--rh-body-cap: 430px;
	--rh-pad: 8px;
	--rh-corner: 3px;

	--rh-stroke-size: 2px;
	--rh-stroke: var(--rh-stroke-size) solid #e6e6e6;
	--rh-stroke-color-alt: #777;
	--rh-stroke-color-alt-2: #ddd;

	--rh-font-size: 12pt;
	--rh-font-family-base: Garamond, "Times New Roman", Times, serif;
	--rh-font-family-post: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;

	/* gradient https://welearncode.com/rainbow-text/ */
	--rainbow-gradient: linear-gradient(to right, #f48fb1, #ef5350, #7e57c2, #2196f3, #26c6da, #43a047, #f9a825, #ff5722, #eeff41);

	--alt-font: 'Helvetica Neue', 'Helvetica';
	--alt-border: #ddd;
}

body {
	max-width: var(--rh-body-cap);
	padding: var(--rh-pad);

	margin: auto;

	background: var(--rh-c-bg);
	color: var(--rh-c-text-1);
	font-family: var(--rh-font-family-base);
	font-size: var(--rh-font-size);
}

a {
	border-bottom: 1px color-mix(in srgb, var(--rh-c-brand-1), transparent 80%) dotted;
	text-decoration: none;

	color: var(--rh-c-brand-1);
	&:hover {
		color: var(--rh-c-brand-hover-1);
	}
}

hr {
	height: 0;
	border: 0.5px solid var(--rh-c-text-1);

	opacity: 0.3;
}

header {
	display: flex;
	align-items: center;
	gap: var(--rh-pad);

	img {
		height: 40px;
	}

	h2 {
		display: flex;
		align-items: center;
		gap: var(--rh-pad);
		flex-grow: 1;
	}

	a {
		border: unset;

		color: var(--rh-c-text-1);
		&:not([aria-hidden="true"]) {
			opacity: 0.6;
		}
	}

	@media (max-width: 450px) {
		search .pf-trigger-shortcut {
			display: none !important;
		}
	}
}

.post {
	--pad: calc(var(--rh-pad) * 1.5);

	display: flow-root;

	padding: 0 var(--pad);
	border-radius: var(--rh-corner);
	& > :first-child {
		margin-top: var(--pad);

		&.sticky {
			margin-top: 0;
			padding: var(--rh-pad) 0;
		}
	}
	& > :last-child {
		margin-bottom: var(--pad);
	}

	margin: calc(var(--pad) * 2) 0;
	
	background: var(--rh-c-bg-focus);
	font-family: var(--rh-font-family-post);
	font-size: 90%;

	/* wrap long urls  */
	word-break: break-word;

	/* sticky children */
	position: relative;

	p > img {
		max-width: 90%;
		border: var(--rh-stroke);
	}

	.feature-image img {
		max-width: 100%;
		border-radius: var(--rh-corner);
	}

	iframe {
		width: 100%;
		border-radius: var(--rh-corner);
	}

	nugget {
		display: block;
		padding: var(--rh-pad);
		border: 1px solid var(--rh-stroke-color-alt);
		border-left-width: var(--rh-pad);

		background: var(--rh-c-bg-alt);
	}

	blockquote {
		padding-left: var(--rh-pad);
		border-left: var(--rh-stroke-size) solid var(--rh-stroke-color-alt-2);

		margin: 0;

		font-size: 90%;
		opacity: 0.7;
	}

	code {
		font-size: 90%;
		white-space: break-spaces;
		word-break: break-all;
	}

	pre {
		border: var(--rh-stroke);
		padding: var(--rh-pad);

		font-size: 80%;
	}

	ol, ul {
		padding-left: calc(var(--rh-pad) * 3);
	}

	.metadata {
		display: flex;
		align-items: end;

		& > :first-child {
			flex-grow: 1;
		}
	}

	.external {
		display: flex;

		& > :first-child {
			flex-shrink: 0;
		}

		& > :last-child {
			text-align: right;

			flex-grow: 1;
		}
	}

	.types {
		flex-shrink: 0;

		a {
			margin-left: var(--rh-pad);
			
			font-weight: bold;
			font-size: 90%;
			color: unset;
			opacity: 0.3;
		}
	}
	
	gallery {
		max-width: 100%;

		display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));

		& > * {
			max-width: 100%;
			align-self: center;
			box-sizing: border-box;
		}

		img, iframe {
			max-width: 100%;
			border: var(--rh-stroke);
		}

		iframe {
			padding: 0;
			border: var(--rh-stroke);
			border-radius: unset;
			align-self: stretch;
		}
	}

	figure {
		text-align: center;

		a {
			border-bottom: none;
		}

		img, video {
			max-width: 100%;
		}

		figcaption {
			font-size: 90%;
			opacity: 0.5;
		}
	}

	details summary {
		font-weight: bold;
		cursor: pointer;
	}

	roco-divider {
		display: block;

		text-align: center;
		opacity: 0.5;
	}
}

.notification {
	background: #555;
	color: white;

	p {
		margin-top: 6px;
		margin-bottom: 3px;
	}

	a {
		--rh-c-brand-1: #ece246;

		border-bottom: unset;

		&:hover {
			color: #ff963a;
		}
	}

	blockquote {
		margin-top: 0;
	}
}

.sticky, .occasion content > h2, .occasion .post h3 {
	padding: var(--rh-pad) 0;
	
	position: sticky;
	top: 0;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: auto;

	a {
		border-bottom: unset;

		opacity: 0.7;
	}
}

.sticky, .home h1, .occasion content > h2 {
	background: var(--rh-c-bg);
}

footer {
	max-width: var(--rh-body-cap);
	position: sticky;
	bottom: 0;

	background: var(--rh-c-bg);
	background: linear-gradient(0deg, var(--rh-c-bg) 90%, rgba(255,255,255,0) 100%);

	/* compensate for OLSKBanner */
	padding-bottom: 50px;

	small:not(.paginator small) {
		padding: calc(var(--rh-pad) / 3);
		display: block;

		text-align: center;

		& > * {
			margin-right: calc(var(--rh-pad) / 3);
		}
	}

	.timeline-footer {
		padding: var(--rh-pad) 0;
	}
}

.single footer {
	position: unset;
	padding-bottom: 10px;
}

.paginator {
	display: flex;
	justify-content: space-between;

	:last-child {
		text-align: end;
	}

	& > * {
		flex-grow: 1;
	}
}

card-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rh-pad);

  margin-bottom: var(--rh-pad);

  & > * {
  	@media (min-width: 450px) {
  	  &:not(video) {
  	  	flex-basis: 49%;
  	  }
  	  max-width: 50%;
  	}
  }

  iframe, video {
  	height: 250px;
  }

  iframe {
  	border: none;
  	border-radius: var(--rh-corner);
  	position: relative;
  	max-width: 100%;
  }
}

card {
  display: flex;

  @media (max-width: 450px) {
    flex-grow: 1;
  }

  & > a:first-child {
  	border: none;
  }

  img {
    --size: 48px;
    max-width: var(--size);
    max-height: var(--size);
    margin-right: var(--rh-pad);
    border-radius: var(--rh-corner);
  }

  article {
  	align-content: center;

  	p {
  		margin: 0;
  	  font-size: 90%;
  	  opacity: 0.7;
  	}

  	blockquote {
  	  font-size: 90%;
  	  margin: var(--rh-pad) 0;
  	  padding-left: var(--rh-pad);
  	  border-left: var(--rh-stroke-size) solid var(--alt-border);
  	}
  }
}

.home {
	--rh-body-cap: 700px;

	.intro {
		p {
			margin: var(--rh-pad) 0;
		}

		a {
			color: var(--rh-c-text-1);
			text-decoration: underline;
			border-bottom: none;
			font-weight: bold;
			background: var(--rainbow-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	h1 {
		margin-top: calc(var(--rh-pad) * 4);
		margin-bottom: var(--rh-pad);
		position: sticky;
		top: 0;
		background: var(--rh-c-bg);
		border-bottom: 2px solid var(--rh-c-bg);
		box-shadow: 0px 0px 4px var(--rh-c-bg);
	}

	#smaller-tools + card-list card {
		img {
			--size: 24px;
		}
	}

	.archive {
		display: flex;
		max-width: 270px;
		padding: var(--rh-pad);
		border-radius: 25px;
		
		margin: 50px auto;

		text-align: center;
		text-decoration: none;
	  color: white;
		background-image: var(--rainbow-gradient);
		background-size: 1100% 100%;

		align-items: center;
		justify-content: center;

		animation: archiveAnimation 30s ease-in-out infinite alternate;

		img {
			margin-right: var(--rh-pad);
		}
	}

	@keyframes archiveAnimation {
		0% { background-position: 0% 0%; }
		100% { background-position: 100% 0%; }
	}

	etcetera {
		display: flex;
		gap: var(--rh-pad);

		@media (max-width: 450px) {
	  	flex-wrap: wrap;
		  & > * {
		  	flex-basis: 40%;
		  }
		}
		
		a {
			--size: 24px;
			
			border: none;

			opacity: 0.5;
			color: var(--rh-c-text-1);
			
			display: flex;
			align-items: center;

			img {
				width: var(--size);
				height: var(--size);
				margin-right: var(--rh-pad);
			}
		}

		& > :nth-child(2) img {
			margin: 0;
		}

			& > :last-child {
			img {
				margin: 0;
			}

			&:hover img {
				animation: RCSVitrineWebringSpin 0.35s infinite linear;
			}

			@keyframes RCSVitrineWebringSpin {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}

.RCGazette a {
	text-decoration: underline;
}

.gift .grouping {
	padding-left: 0;
	list-style: none;

	margin: calc(var(--rh-pad) * 4) 0;

	display: flex;
	flex-wrap: wrap;
	gap: var(--rh-pad);

	a {
		display: block;
		width: 100px;
		height: 100px;
		border: 0;
		border-radius: var(--rh-corner);

		color: white;
		text-shadow: 0px 0px 2px black;

		background-size: contain;
		background-repeat: no-repeat;

		display: flex;
		flex-direction: column;
		justify-content: center;

		.price {
			padding: calc(var(--rh-pad) / 2);

			text-align: center;

			span {
				padding: calc(var(--rh-pad) / 3);
				border-radius: var(--rh-corner);

				color: white;
				background: rgba(0, 0, 0, 0.9);
				font-size: 80%;

				opacity: 0.9;
			}

		}

		.name {
			padding: calc(var(--rh-pad) / 2);

			text-align: center;
			font-size: 85%;

			background: rgba(0, 0, 0, 0.35);
		}
	}
}

/* video */

.video-preview {
	font-family: var(--rh-font-family-post);

	border-radius: var(--rh-corner);
	overflow: hidden;

	a {
		--video-width: 180px;
		--video-height: var(--video-width);
		
		--video-width-condensed: 80px;
		--video-height-condensed: 125px;
		--video-font-condensed: 30%;

		--video-spacing: 4px;

		@media (max-width: 450px) {
			--video-width: var(--video-width-condensed);
			--video-height: var(--video-height-condensed);

			--video-spacing: 3px;
			--rh-pad: calc(var(--video-spacing) * 2);

			font-size: 10px;
		}
		
		width: var(--video-width);
		height: var(--video-height);
		border-bottom: unset;

		background-size: 100%;
		background-position: center;
		background-size: cover;

		text-decoration: none;
		font-size: 11px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.date-strip {
		display: block;
		padding: var(--video-spacing);

		background: rgba(0, 0, 0, 0.75);
		color: white;
		text-shadow: 1px 1px 0 black; 
		
		display: flex;
		justify-content: space-between;

		time {
			text-align: right;
			opacity: 0.7;

			flex-grow: 1;
		}
	}

	.title-strip {
		color: rgba(0, 0, 0, 0.0);

		text-align: center;
		
		text-transform: uppercase;
		font-weight: bold;
		font-size: var(--video-font-condensed);
	}

	.duration-strip {
		text-align: right;
		padding: var(--rh-pad);

		time {
			padding: var(--video-spacing);
			border-radius: var(--rh-corner);

			background: rgba(0, 0, 0, 0.9);
			color: white;
			text-shadow: 1px 1px 0 black;
		}
	}
}

footer {
	.video-list {
		justify-content: space-between;
	}

	.video-preview a {
		--video-width: var(--video-width-condensed);
		--video-height: var(--video-height-condensed);
	}
}

/* vlog */

.vlog {
	--rh-body-cap: 600px;
}

.vlog .video-list, .lyrics .video-list {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	gap: var(--rh-pad);
}

/* timeline */

.timeline .embed iframe {
	max-height: 200px;
}

/* blog */

blog-list {
	h3 {
		text-align: center;
	}

	time {
		text-align: right;
		margin-right: var(--rh-pad);
	}

	card {
		margin: var(--rh-pad) 0;

		display: grid;
		grid-template-columns: 0.2fr 1fr;
	}
}

/* lyrics */

.lyrics .post {
	padding-top: 0;
}

.lyrics .post blockquote:first-of-type p:first-child {
	margin-top: 0;
	padding-top: 0;
}

.lyrics .post .sticky, .occasion h3 {
	margin-bottom: 0;

	background: inherit;
}

.lyrics_topic .post .sticky, .occasion .post h3 {
	padding: calc(var(--rh-pad) * 1.5) 0;
	top: 43px;
}

.lyrics_topic .post .sticky {
	top: 30px;
}

.lyrics_collection .sticky, .lyrics.single .sticky {
	padding-top: var(--rh-pad);
}

/* occasion */

.occasion {
	header, header h2 {
		margin-bottom: 0;
		padding-bottom: 0 !important;
	}

	header + p {
		margin-top: 0;
	}

	.OLSKFollow {
	  text-align: center;
	  background: unset;
	}
}

/* OLSKBanner */

.OLSKBanner a {
	border-bottom: unset;
}

/* z-index */

.lyrics_topic .post .sticky, .occasion .post h3 {
	z-index: 1;
}

.sticky, .home h1, .occasion h2 {
	z-index: 2;
}

footer {
	z-index: 3;
}

.OLSKBanner {
	z-index: 4 !important;
}
