:root {
	--background: #eee;
	--body-color: #333;
	--body-cap: 430px;
	--spacing: 8px;
	--corner: 3px;
	--link-color: #237fa1;
	--border: 2px solid #e6e6e6;
}

body {
	max-width: var(--body-cap);
	padding: var(--spacing);

	margin: auto;

	background: var(--background);
	color: var(--body-color);
	font: Garamond, Georgia, "Times New Roman", Times, serif;
}

a {
	border-bottom: 1px color-mix(in srgb, var(--link-color), transparent 80%) dotted;

	color: var(--link-color);
	text-decoration: none;

	&:hover {
		color: #c00;
	}

}

header {

	img {
		height: 40px;
	}

	h2 {
		display: flex;
		align-items: center;
		gap: var(--spacing);
	}

	a {
		border: unset;

		color: var(--body-color);

		&:not([aria-hidden="true"]) {
			opacity: 0.6;
		}
	}

}

hr {
	height: 0px;
	border: 0.5px solid var(--body-color);
	opacity: 0.3;
}

.sticky, .occasion h2, .occasion .post h3 {
	padding: var(--spacing) 0;
	
	position: sticky;
	top: 0;

	background: var(--background);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--background) 10%);
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: auto;

	a {
		border-bottom: unset;

		opacity: 0.7;
	}

}

.post {
	--background: #f9f9f9;

	padding: calc(var(--spacing) * 1.5);
	border-radius: var(--corner);
	
	margin: calc(var(--spacing) * 2) 0;
	
	background: var(--background);
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 90%;

	/* wrap long urls  */
	word-break: break-word;

	/* sticky children */
	position: relative;

	p > img {
		max-width: 90%;
	}

	p > img {
		border: var(--border);
	}

	.feature-image img {
		max-width: 100%;
		border-radius: var(--corner);
		
		margin-bottom: var(--spacing);
	}

	.embed {
		margin-bottom: var(--spacing);
	}

	iframe {
		width: 100%;
		border-radius: var(--corner);
	}

	.title {
		margin-top: 0;
	}

	.nugget {
		display: block;
		border: 1px solid #777;
		padding: var(--spacing);

		margin: 14px 0;
		background: #eee;
		border-left: 8px solid #777;
	}

	blockquote {
		font-size: 90%;
		opacity: 0.7;
		margin: 0;
		padding-left: calc(var(--spacing) / 2);
		border-left: 2px solid #ddd;

		&:first-child p:first-child {
			margin-top: 0;
			padding-top: 0;
		}
	}

	> blockquote:last-child p:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	code {
		white-space: break-spaces;
		word-break: break-all;
		font-size: 90%;
	}

	pre {
		font-size: 80%;

		border: 1px solid #ddd;
		padding: 8px
	}

	ol, ul {
		padding-left: calc(var(--spacing) * 3);
	}

	.metadata {
		display: flex;
		align-items: end;
	}

	.metadata > :first-child {
		flex-grow: 1;
	}

	.external {
		display: flex;
	}

	.external > :first-child {
		flex-shrink: 0;
	}

	.external > :last-child {
		text-align: right;

		flex-grow: 1;
	}

	.types {
		flex-shrink: 0;
	}

	.types a {
		font-weight: bold;
		font-size: 90%;

		margin-left: var(--spacing);
		
		color: unset;
		
		opacity: 0.3;
	}

	& > :first-child, .content > :first-child {
		margin-top: 0;
		padding-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	gallery {
		max-width: 100%;
		
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: auto;

		img, iframe {
			max-width: inherit;
			border: var(--border);
		}

		iframe {
			width: unset;
			height: calc(100% - 2px * 2);
			padding: 0;
			border: var(--border);
			border-radius: unset;
		}
	}

	figure {

		a {
			border-bottom: none;
		}

		img, video {
			max-width: 100%;
		}

		text-align: center;
	}

	figcaption {
		font-size: 90%;
		opacity: 0.5;
	}

	details {
		summary {
			font-weight: bold;
			cursor: pointer;
		}
	}

	&:last-of-type {
		margin-bottom: unset;
	}

	roco-divider {
		display: block;

		text-align: center;
		opacity: 0.5;
	}

	article:last-child > p:last-child {
		margin-bottom: 0;
	}

}

.notification {
	background: #555;
	color: white;

	p {
		margin-top: 6px;
		margin-bottom: 3px;
	}

	a {
		--link-color: #ece246;

		border-bottom: unset;

		&:hover {
			color: #ff963a;
		}
	}

}

.post.large {
	padding-top: 0;
}

.nugget p {
	margin: 0;
}

footer {
	max-width: var(--body-cap);
	position: sticky;
	bottom: 0;

	background: var(--background);
	background: linear-gradient(0deg, var(--background) 90%, rgba(255,255,255,0) 100%);

	/* compensate for OLSKBanner */
	padding-bottom: 50px;

	small:not(.paginator small) {
		padding: calc(var(--spacing) / 3);
		display: block;

		text-align: center;

		& > * {
			margin-right: calc(var(--spacing) / 3);
		}
	}

	.timeline-footer {
		padding: var(--spacing) 0;
	}

}

.single footer {
	position: unset;
	padding-bottom: 10px;
}

.paginator {
	display: flex;
	justify-content: space-between;

	:last-child {
		text-align: end;
	}

	& > * {
		flex-grow: 1;
	}

}

/* gazette */

.ROCOGazette {
	font-size: 90%;
}

/* video */

.video-preview {
	font-family: 'Lucida Grande', sans-serif;

	border-radius: var(--corner);
	overflow: hidden;

	a {
		--video-width: 180px;
		--video-height: var(--video-width);
		
		--video-width-condensed: 80px;
		--video-height-condensed: 125px;
		--video-font-condensed: 30%;

		--video-spacing: 4px;

		@media (max-width: 450px) {
			--video-width: var(--video-width-condensed);
			--video-height: var(--video-height-condensed);

			--video-spacing: 3px;
			--spacing: calc(var(--video-spacing) * 2);

			font-size: 10px;
		}
		
		width: var(--video-width);
		height: var(--video-height);
		border-bottom: unset;

		background-size: 100%;
		background-position: center;
		background-size: cover;

		text-decoration: none;
		font-size: 11px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.date-strip {
		display: block;
		padding: var(--video-spacing);

		background: rgba(0, 0, 0, 0.75);
		color: white;
		text-shadow: 1px 1px 0 black; 
		
		display: flex;
		justify-content: space-between;

		time {
			text-align: right;
			opacity: 0.7;

			flex-grow: 1;
		}
	}

	.title-strip {
		color: rgba(0, 0, 0, 0.0);

		text-align: center;
		
		text-transform: uppercase;
		font-weight: bold;
		font-size: var(--video-font-condensed);
	}

	.duration-strip {
		text-align: right;
		padding: var(--spacing);

		time {
			padding: var(--video-spacing);
			border-radius: var(--corner);

			background: rgba(0, 0, 0, 0.9);
			color: white;
			text-shadow: 1px 1px 0 black;
		}

	}

}

footer {

	.video-list {
		justify-content: space-between;
	}

	.video-preview a {
		--video-width: var(--video-width-condensed);
		--video-height: var(--video-height-condensed);
	}

}

/* vlog */

.vlog {
	--body-cap: 600px;
}

.vlog .video-list, .lyrics .video-list {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	gap: var(--spacing);
}

/* timeline */

.timeline .embed iframe {
	max-height: 200px;
}

/* blog */

.blog-list {

	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
		display: flex;
		gap: var(--spacing);

		time {
			flex-shrink: 0;
			min-width: 50px;
		}
	}

}

/* lyrics */

.lyrics .post {
	padding-top: 0;
}

.lyrics .post blockquote:first-of-type p:first-child {
	margin-top: 0;
	padding-top: 0;
}

.lyrics .post .sticky, .occasion h3 {
	margin-bottom: 0;

	background: inherit;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--background) 10%);
}

.lyrics_topic .post .sticky, .occasion .post h3 {
	padding: calc(var(--spacing) * 1.5) 0;
	top: 43px;
}

.lyrics_topic .post .sticky {
	top: 30px;
}

.lyrics_collection .sticky, .lyrics.single .sticky {
	padding-top: var(--spacing);
}

/* gift */

.gift {

	.grouping {

		padding-left: 0;
		list-style: none;

		margin: calc(var(--spacing) * 4) 0;

		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing);

		a {
			display: block;
			width: 100px;
			height: 100px;
			border: 0;
			border-radius: var(--corner);

			color: white;
			text-shadow: 0px 0px 2px black;

			background-size: contain;
			background-repeat: no-repeat;

			display: flex;
			flex-direction: column;
			justify-content: center;

			.price {
				padding: calc(var(--spacing) / 2);

				text-align: center;

				span {
					padding: calc(var(--spacing) / 3);
					border-radius: var(--corner);

					color: white;
					background: rgba(0, 0, 0, 0.9);
					font-size: 80%;

					opacity: 0.9;
				}

			}

			.name {
				padding: calc(var(--spacing) / 2);

				text-align: center;
				font-size: 85%;

				background: rgba(0, 0, 0, 0.35);
			}
		}

	}

}

/* occasion */

.occasion {

	header, header h2 {
		margin-bottom: 0;
		padding-bottom: 0 !important;
	}

	header + p {
		margin-top: 0;
	}

	.OLSKFollow {
	  background: #e3e3e3;
	  text-align: center;
	}

}

/* OLSKBanner */

.OLSKBanner a {
	border-bottom: unset;
}

/* z-index */

.lyrics_topic .post .sticky, .occasion .post h3 {
	z-index: 1;
}

.sticky, .occasion h2 {
	z-index: 2;
}

footer {
	z-index: 3;
}

.OLSKBanner {
	z-index: 4 !important;
}
