:root {
	--background: #eee;
	--cap: 430px;
	--spacing: 12px;
}

body {
	max-width: var(--cap);
	padding: var(--spacing);

	margin: auto;

	background: var(--background);
	color: #333;
	font: Garamond, Georgia, "Times New Roman", Times, serif;
}

a {
	color: #237fa1;
	text-decoration: none;
}

a:hover {
	color: #c00;
}

header a {
	border: unset;
}

header h2 {
	display: flex;
	align-items: center;
	gap: 8px;
}

header a:not(:first-child) {
	color: black;
	opacity: .5;
}

header img {
	height: 40px;
}

hr {
	height: 0px;
	border: 0.5px solid #333;
	opacity: 0.3;
}

.sticky-heading {
	padding: var(--spacing) 0;
	
	position: sticky;
	top: 0;

	background: var(--background);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--background) 10%);
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: auto;
}

.sticky-heading a {
	opacity: .7;
}

.post {
	--background: #f9f9f9;

	padding: var(--spacing);
	margin: var(--spacing) 0;
	background: var(--background);
	border-radius: 3px;
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 90%;

	position: relative;

	/* wrap long urls  */
	word-break: break-word;
}

@media (min-width: 450px) {

	.post {
		max-width: var(--cap);
		padding: 15px;
	}

}

.post img {
	max-width: 90%;

	border: 2px solid #e6e6e6;
}

.post a, footer a, .ROCOGazette a {
	border-bottom: 1px rgba(0, 0, 0, 0.2) dotted;
}

.post.notification {
	background: #555;
	color: white;
}

.notification p {
	margin-top: 6px;
	margin-bottom: 3px;
}

.notification a {
	color: #ece246;
}

.post :first-child {
	margin-top: 0;
}

.post .embed {
	margin-bottom: var(--spacing);
}

.post .embed iframe {
	border-radius: 3px;
}

.post .title {
	margin-top: 0;
}

.post .nugget {
	display: block;
	border: 1px solid #777;
	padding: 8px;
	margin: 14px 0;
	background: #eee;
	border-left: 8px solid #777;
}

.post blockquote {
	font-size: 90%;
	opacity: 0.7;
	margin: 0;
	padding-left: calc(var(--spacing) / 2);
	border-left: 2px solid #ddd;
}

.post code {
	white-space: break-spaces;
	word-break: break-all;
	font-size: 90%;
}

.post pre {
	font-size: 80%;

	border: 1px solid #ddd;
	padding: 8px
}

.post ol, .post ul {
	padding-left: calc(var(--spacing) * 2);
}

.post .metadata {
	display: flex;
	align-items: end;
}

.post .metadata > :first-child {
	flex-grow: 1;
}

.post .types {
	flex-shrink: 0;
}

.post .types a {
	font-weight: bold;
	font-size: 90%;

	margin-left: var(--spacing);
	
	color: unset;
	
	opacity: 0.3;
}

footer {
	max-width: var(--cap);
	position: sticky;
	bottom: 0;

	/* compensate for OLSKBanner */
	padding-bottom: 50px;

	background: var(--background);
	background: linear-gradient(0deg, var(--background) 90%, rgba(255,255,255,0) 100%); 
}

.paginator {
	padding: 15px;

	display: flex;
  justify-content: space-between;
}

@media (min-width: 450px) {

	.paginator {
	 	max-width: var(--cap);
	}

}

.paginator > * {
	flex-grow: 1;
}

.paginator :last-child {
	text-align: end;
}

footer small:not(.paginator small) {
	padding: 5px;
	display: block;

	text-align: center;
}

footer small > * {
	margin-right: 5px;
}

/* video */

.video-preview {
	font-family: 'Lucida Grande', sans-serif;
}

.video-preview a {
	width: 180px;
	height: 180px;
	border-radius: 3px;

	background-size: 100%;
	background-position: center;
	background-size: cover;
	text-decoration: none;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer .video-preview a {
	width: 80px;
	height: 125px;
}

footer .title-strip {
	display: none;
}

footer .video-list {
	justify-content: space-between;
}

.single footer {
	position: unset;
	padding-bottom: 10px;
}

@media (max-width: 450px) {
	
	.video-preview a {
		width: 80px;
		height: 125px;
	}

}

.date-strip {
	display: block;
	padding: 3px;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	text-shadow: 1px 1px 0 black; 
	font-size: 8pt;
	display: flex;
	justify-content: space-between;
}

.date-strip time {
	text-align: right;
	opacity: 0.7;
	flex-grow: 1;
}

.title-strip {
	color: rgba(0, 0, 0, 0.0);

	text-align: center;
	
	text-transform: uppercase;
	font-weight: bold;
}

@media (max-width: 450px) {
	
	.video-preview a {
		font-size: 50%;
	}

}

.duration-strip {
	text-align: right;
	padding: 8px;
}

.duration-strip time {
	padding: 3px;

	background: rgba(0, 0, 0, 0.9);
	color: white;
	text-shadow: 1px 1px 0 black;
	font-size: 8pt;
	border-radius: 3px;
	position: relative;
}

/* vibrations */

body.vibrations {
	--cap: 600px;
}

.vibrations .video-list, .lyrics .video-list {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10px;
}

/* timeline */

.timeline .embed iframe {
	max-height: 200px;
}

/* blog */

.blog-list ul {
	padding-left: 0;
	list-style: none;
}

.blog-list li {
	display: flex;
	gap: var(--spacing);
}

.blog-list li time {
	flex-shrink: 0;
}

/* lyrics */

.lyrics .post .sticky-heading {
	padding-top: 5px;

	margin-bottom: 0;

	background: inherit;
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--background) 10%);
}

.lyrics_topic .post .sticky-heading {
	top: 40px;
}

/* z-index */

.sticky-heading {
	z-index: 2;
}

.lyrics_topic .post .sticky-heading {
	z-index: 1;
}

footer {
	z-index: 3;
}

.OLSKBanner {
	z-index: 4;
}
