<script src="/pagefind/pagefind-ui.js"></script>
<div id="search" class="post"></div>
<style>
#search .pagefind-ui__result-thumb {
	display: none;
}

#search input, #search button {
  padding: var(--rh-pad);
  border: var(--rh-stroke);
  border-radius: var(--rh-corner);

	/* disable zoom on mobile */
  font-size: 16px;
}

#search form {
	display: flex;
	flex-wrap: wrap;
	gap: var(--rh-pad);
}

@media (min-width: 450px) {
	#search form input {
		flex-grow: 1;
	}
}

@media (max-width: 450px) {
	#search form input {
		flex-grow: 1;
		min-width: 0;
	}
	#search form button {
		flex-shrink: 0;
	}
}

#search form div {
	flex-basis: 100%;
	width: 100%;
}
</style>
<script>
window.addEventListener('DOMContentLoaded', event => new PagefindUI({
	element: '#search',
	showSubResults: true,
	sort: {
		date: 'desc',
	},
}));
</script>
