<!-- PAGINATION -->

{{ if (and .Page.IsNode .Paginator (ne .Paginator.TotalPages 0) (ne (.Scratch.Get "k404") "yes")) }}
	
<div class="paginator">
	<span>
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}">older</a> · 
			<small><a href="{{ .Paginator.Last.URL }}">start</a></small>
		{{ end }}
	</span>
	<span>
		{{ if .Paginator.HasPrev }}
			<small><a href="{{ .Paginator.First.URL }}">end</a></small> · 
			<a href="{{ .Paginator.Prev.URL }}">newer</a>
		{{ end }}
	</span>
</div>

{{ end }}

<!-- TYPES -->

<small class="types">
	<a href="{{ .Site.BaseURL }}">all</a>
	
	<span>·</span>
	
	{{ range .Site.Taxonomies.categories.ByCount }}
	{{ if ne .Page.Title "move" }}
		<a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
	{{ end }}
	{{ end }}
</small>

<!-- TIME -->

<small class="time">

<a href="{{ .Site.BaseURL }}">recent</a>

<span>·</span>

<!-- CONTEXT -->
{{ $timeContext := "" }}
{{ $year := "" }}
{{ $month := "" }}
{{ $day := "" }}

{{ if (and (eq .Kind "term") (eq .Data.Singular "day")) }}
	{{ $timeContext = time.AsTime .Data.Term }}
{{ else if (and (eq .Kind "term") (eq .Data.Singular "month")) }}
	{{ $timeContext = time.AsTime (delimit (slice .Data.Term "01") "-") }}
{{ else if (and (eq .Kind "term") (eq .Data.Singular "year")) }}
	{{ $timeContext = time.AsTime (delimit (slice .Data.Term "01-01") "-") }}
{{ else if eq .Section "posts" }}
	{{ $timeContext = time.AsTime .Date }}
{{ end }}

{{ if $timeContext }}
	{{ $year = time.Format "2006" $timeContext }}
	{{ $month = time.Format "01" $timeContext }}
	{{ $day = time.Format "02" $timeContext }}
{{ end }}

<!-- YEARS -->
{{ if not $timeContext }}
	{{ range .Site.Taxonomies.year }}
		<a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
	{{ end }}
{{ end }}

<!-- CURRENT YEAR -->
{{ if (or (in (slice "year" "month" "day") .Section) .IsPage) }}
	{{ if eq .Section "year" }}
		<span>{{ $year }}</span>
	{{ else }}
		<a href="/{{ $year }}">{{ $year }}</a>
	{{ end }}
	
	<span>·</span>

	{{ if eq .Section "year" }}
		<!-- MONTHS -->
		{{ range .Site.Taxonomies.month }}
			{{ if strings.Contains .Page.Title $year }}
				{{ $t := time.AsTime (delimit (slice .Page.Title "01") "-") }}
				<a href="{{ .Page.Permalink }}">{{ time.Format "Jan" $t }}</a>
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

<!-- CURRENT MONTH -->
{{ if (or (in (slice "month" "day") .Section) .IsPage) }}
	{{ $format := time.Format "January" $timeContext }}

	{{ if eq .Section "month" }}
		<span>{{ $format }}</span>
	{{ else }}
		<a href="/{{ $year }}/{{ $month }}">{{ $format }}</a>
	{{ end }}
	
	<span>·</span>

	{{ if eq .Section "month" }}
		<!-- DAYS -->
		{{ range .Site.Taxonomies.day }}
			{{ if strings.Contains .Page.Title (delimit (slice $year $month) "-") }}
				<a href="{{ .Page.Permalink }}">{{ humanize (time.Format "2" (time.AsTime .Page.Title))  }}</a>
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

<!-- CURRENT DAY -->
{{ if (or (in (slice "day") .Section) .IsPage) }}
	{{ $format := humanize (time.Format "2" $timeContext)  }}

	{{ if eq .Section "day" }}
		<span>{{ $format }}</span>
	{{ else }}
		<a href="/{{ $year }}/{{ $month }}/{{ $day }}">{{ $format }}</a>
	{{ end }}
{{ end }}

</small>
